

data/ridership/bike_share_2017-1.csv
data/ridership/bike_share_2017-10.csv
data/ridership/bike_share_2017-11.csv
data/ridership/bike_share_2017-12.csv
data/ridership/bike_share_2017-2.csv
data/ridership/bike_share_2017-3.csv
data/ridership/bike_share_2017-4.csv
data/ridership/bike_share_2017-5.csv
data/ridership/bike_share_2017-6.csv
data/ridership/bike_share_2017-7.csv
data/ridership/bike_share_2017-8.csv
data/ridership/bike_share_2017-9.csv
data/ridership/bike_share_2018-1.csv
data/ridership/bike_share_2018-10.csv
data/ridership/bike_share_2018-11.csv
data/ridership/bike_share_2018-12.csv
data/ridership/bike_share_2018-2.csv
data/ridership/bike_share_2018-3.csv
data/ridership/bike_share_2018-4.csv
data/ridership/bike_share_2018-5.csv
data/ridership/bike_share_2018-6.csv
data/ridership/bike_share_2018-7.csv
data/ridership/bike_share_2018-8.csv
data/ridership/bike_share_2018-9.csv
data/ridership/bike_share_2019-1.csv
data/ridership/bike_share_2019-10.csv
data/ridership/bike_share_2019-11.csv
data/ridership/bike_share_2019-12.csv
data/ridership/bike_share_2019-2.csv
data/ridership/bike_share_2019-3.csv
data/ridership/bike_share_2019-4.csv
data/ridership/bike_share_2019-5.csv
data/ridership/bike_share_2019-6.csv
data/ridership/bike_share_2019-7.csv
data/ridership/bike_share_2019-8.csv
data/ridership/bike_share_2019-9.csv
data/ridership/bike_share_2020-1.csv
data/ridership/bike_share_2020-10.csv
data/ridership/bike_share_2020-11.csv
data/ridership/bike_share_2020-12.csv
data/ridership/bike_share_2020-2.csv
data/ridership/bike_share_2020-3.csv
data/ridership/bike_share_2020-4.csv
data/ridership/bike_share_2020-5.csv
data/ridership/bike_share_2020-6.csv
data/ridership/bike_share_2020-7.csv
data/ridership/bike_share_2020-8.csv
data/ridership/bike_share_2020-9.csv
data/ridership/bike_share_2021-1.csv
data/ridership/bike_share_2021-10.csv
data/ridership/bike_share_2021-11.csv
data/ridership/bike_share_2021-12.csv
data/ridership/bike_share_2021-2.csv
data/ridership/bike_share_2021-3.csv
data/ridership/bike_share_2021-4.csv
data/ridership/bike_share_2021-5.csv
data/ridership/bike_share_2021-6.csv
data/ridership/bike_share_2021-7.csv
data/ridership/bike_share_2021-8.csv
data/ridership/bike_share_2021-9.csv
data/ridership/bike_share_2022-1.csv
data/ridership/bike_share_2022-2.csv
data/ridership/bike_share_2022-3.csv
data/ridership/bike_share_2022-4.csv
data/ridership/bike_share_2022-5.csv
data/ridership/bike_share_2022-6.csv
data/ridership/bike_share_2022-7.csv
data/ridership/bike_share_2022-8.csv
data/stations/bikeshare ridership merged with weather-not final.csv
data/stations/bikeshare_stations.csv
data/weather/en_climate_hourly_ON_6158359_01-2017_P1H.csv
data/weather/en_climate_hourly_ON_6158359_01-2018_P1H.csv
data/weather/en_climate_hourly_ON_6158359_01-2019_P1H.csv
data/weather/en_climate_hourly_ON_6158359_01-2020_P1H.csv
data/weather/en_climate_hourly_ON_6158359_01-2021_P1H.csv
data/weather/en_climate_hourly_ON_6158359_01-2022_P1H.csv
data/weather/en_climate_hourly_ON_6158359_02-2017_P1H.csv
data/weather/en_climate_hourly_ON_6158359_02-2018_P1H.csv
data/weather/en_climate_hourly_ON_6158359_02-2019_P1H.csv
data/weather/en_climate_hourly_ON_6158359_02-2020_P1H.csv
data/weather/en_climate_hourly_ON_6158359_02-2021_P1H.csv
data/weather/en_climate_hourly_ON_6158359_02-2022_P1H.csv
data/weather/en_climate_hourly_ON_6158359_03-2017_P1H.csv
data/weather/en_climate_hourly_ON_6158359_03-2018_P1H.csv
data/weather/en_climate_hourly_ON_6158359_03-2019_P1H.csv
data/weather/en_climate_hourly_ON_6158359_03-2020_P1H.csv
data/weather/en_climate_hourly_ON_6158359_03-2021_P1H.csv
data/weather/en_climate_hourly_ON_6158359_03-2022_P1H.csv
data/weather/en_climate_hourly_ON_6158359_04-2017_P1H.csv
data/weather/en_climate_hourly_ON_6158359_04-2018_P1H.csv
data/weather/en_climate_hourly_ON_6158359_04-2019_P1H.csv
data/bikeshare ridership merged with weather-not final.csv
data/weather/en_climate_hourly_ON_6158359_04-2020_P1H.csv
data/weather/en_climate_hourly_ON_6158359_04-2021_P1H.csv
data/weather/en_climate_hourly_ON_6158359_04-2022_P1H.csv
data/weather/en_climate_hourly_ON_6158359_05-2017_P1H.csv
data/weather/en_climate_hourly_ON_6158359_05-2018_P1H.csv
data/weather/en_climate_hourly_ON_6158359_05-2019_P1H.csv
data/weather/en_climate_hourly_ON_6158359_05-2020_P1H.csv
data/weather/en_climate_hourly_ON_6158359_05-2021_P1H.csv
data/weather/en_climate_hourly_ON_6158359_05-2022_P1H.csv
data/weather/en_climate_hourly_ON_6158359_06-2017_P1H.csv
data/weather/en_climate_hourly_ON_6158359_06-2018_P1H.csv
data/weather/en_climate_hourly_ON_6158359_06-2019_P1H.csv
data/weather/en_climate_hourly_ON_6158359_06-2020_P1H.csv
data/weather/en_climate_hourly_ON_6158359_06-2021_P1H.csv
data/weather/en_climate_hourly_ON_6158359_06-2022_P1H.csv
data/weather/en_climate_hourly_ON_6158359_07-2017_P1H.csv
data/weather/en_climate_hourly_ON_6158359_07-2018_P1H.csv
data/weather/en_climate_hourly_ON_6158359_07-2019_P1H.csv
data/weather/en_climate_hourly_ON_6158359_07-2020_P1H.csv
data/weather/en_climate_hourly_ON_6158359_07-2021_P1H.csv
data/weather/en_climate_hourly_ON_6158359_07-2022_P1H.csv
data/weather/en_climate_hourly_ON_6158359_08-2017_P1H.csv
data/weather/en_climate_hourly_ON_6158359_08-2018_P1H.csv
data/weather/en_climate_hourly_ON_6158359_08-2019_P1H.csv
data/weather/en_climate_hourly_ON_6158359_12-2021_P1H.csv
data/weather/en_climate_hourly_ON_6158359_12-2020_P1H.csv
data/weather/en_climate_hourly_ON_6158359_12-2019_P1H.csv
data/weather/en_climate_hourly_ON_6158359_12-2018_P1H.csv
data/weather/en_climate_hourly_ON_6158359_12-2017_P1H.csv
data/weather/en_climate_hourly_ON_6158359_11-2021_P1H.csv
data/weather/en_climate_hourly_ON_6158359_11-2020_P1H.csv
data/weather/en_climate_hourly_ON_6158359_11-2019_P1H.csv
data/weather/en_climate_hourly_ON_6158359_11-2018_P1H.csv
data/weather/en_climate_hourly_ON_6158359_11-2017_P1H.csv
data/weather/en_climate_hourly_ON_6158359_10-2021_P1H.csv
data/weather/en_climate_hourly_ON_6158359_10-2020_P1H.csv
data/weather/en_climate_hourly_ON_6158359_10-2019_P1H.csv
data/weather/en_climate_hourly_ON_6158359_10-2018_P1H.csv
data/weather/en_climate_hourly_ON_6158359_10-2017_P1H.csv
data/weather/en_climate_hourly_ON_6158359_09-2021_P1H.csv
data/weather/en_climate_hourly_ON_6158359_09-2020_P1H.csv
data/weather/en_climate_hourly_ON_6158359_09-2019_P1H.csv
data/weather/en_climate_hourly_ON_6158359_09-2018_P1H.csv
data/weather/en_climate_hourly_ON_6158359_09-2017_P1H.csv
data/weather/en_climate_hourly_ON_6158359_08-2022_P1H.csv
data/weather/en_climate_hourly_ON_6158359_08-2021_P1H.csv
data/weather/en_climate_hourly_ON_6158359_08-2020_P1H.csv
data/bikeshare ridership merged with weather-cleaned.csv
*.sbx
*.sbn
*.shp
*.shx
*.xml
*.prj
*.dbf
*.csv
*.cpg
